<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POMFramework" parallel="tests">
  <test name="BookNowTest">
      <classes>
      <class name="com.selenium.yatra.tests.BookNowTest"/>
      </classes>
  </test> <!-- Test --> 
   
  <test name="SearchFlightsTest">    
    <classes>
       <class name="com.selenium.yatra.tests.SearchFlightsTest"/>
    </classes>
     
  </test> <!-- Test -->
  
  </suite> <!-- Suite -->